spring:
    application:
        name: order-management-service

    datasource:
        url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
        username: ${PGUSER}
        password: ${PGPASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        open-in-view: false
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

server:
    port: ${PORT:8080}

jwt:
    secret: ${JWT_SECRET:THIS_IS_A_VERY_LONG_SECRET_KEY_AT_LEAST_256_BITS}
    access-token:
        expiration-ms: 900000
    refresh-token:
        expiration-ms: 604800000
