server:
  port: ${PORT:8080}

spring:
  application:
    name: order-management-service

  datasource:
    url: jdbc:${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET}
  access-token:
    expiration-ms: 900000
  refresh-token:
    expiration-ms: 604800000
